<div class="system-logs">
  <div class="log-container">
    <h2>System Logs</h2>

    <div class="table-header">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          #filter
          (input)="dt.filterGlobal(filter.value, 'contains')"
          placeholder="Search Logs"
        />
      </span>
    </div>

    <p-table
      #dt
      [value]="logs"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowHover]="true"
      dataKey="timestamp"
      [globalFilterFields]="['userId', 'message', 'action', 'source', 'level']"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="timestamp">Time <p-sortIcon field="timestamp"></p-sortIcon></th>
          <th pSortableColumn="level">Level <p-sortIcon field="level"></p-sortIcon></th>
          <th pSortableColumn="source">Source <p-sortIcon field="source"></p-sortIcon></th>
          <th pSortableColumn="action">Action <p-sortIcon field="action"></p-sortIcon></th>
          <th pSortableColumn="userId">User ID <p-sortIcon field="userId"></p-sortIcon></th>
          <th pSortableColumn="message">Message <p-sortIcon field="message"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-log>
        <tr>
          <td>{{ log.timestamp | date : 'medium' }}</td>
          <td>
            <p-tag [value]="log.level" [severity]="getSeverityClass(log.level) || 'info'"></p-tag>
          </td>
          <td>{{ log.source }}</td>
          <td>{{ log.action }}</td>
          <td>{{ log.userId }}</td>
          <td>{{ log.message }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
