<div class="transaction-logs">
  <div class="chart-container">
    <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"> </canvas>
  </div>

  <h2>Transaction Logs</h2>
  <div class="log-container">
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Time</th>
          <th>User</th>
          <th>Role</th>
          <th>Ticket ID</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logs">
          <td>{{ log.type }}</td>
          <td>{{ log.timestamp | date : 'medium' }}</td>
          <td>{{ log.userId }}</td>
          <td>{{ log.userRole }}</td>
          <td>{{ log.ticketId }}</td>
          <td>{{ log.amount | currency }}</td>
          <td>{{ log.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
