<div class="transaction-logs">
  <div class="chart-container">
    <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"> </canvas>
  </div>

  <h2>Transaction Logs</h2>
  <div class="log-container">
    <p-table
      [value]="logs"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Type</th>
          <th>Time</th>
          <th>User</th>
          <th>Role</th>
          <th>Ticket ID</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-log>
        <tr>
          <td>{{ log.type }}</td>
          <td>{{ log.timestamp | date : 'medium' }}</td>
          <td>{{ log.userId }}</td>
          <td>{{ log.userRole }}</td>
          <td>{{ log.ticketId }}</td>
          <td>{{ log.amount | currency }}</td>
          <td>{{ log.status }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
